
body {
    display: grid;
    place-items: center;
    height: 100vh;
    font-weight: bold;
    text-align: center;
}

div {
    background: rgb(255, 255, 255);
    padding: 30px 60px;
    border: solid black 1px;
    border-radius: 10px;
    box-shadow: 5px 10px rgba(128, 128, 128, 0.096);
}

button {
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    background: linear-gradient( 90deg,
     rgba(255, 0, 0, 1) 0%,
     rgba(255, 255, 0, 1) 33%,
     rgba(0, 192, 255, 1) 66%,
     rgba(192, 0, 255, 1) 100% );
     opacity: 1;
     transition: all 0.5s ease-in-out;
}


button:hover {
    opacity: 0.5;
}

